<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.meetyouthere" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MeetYouThere</name>
    <description>
		MeetYouThere is an app that helps the user find other people near them, willing to participate in similar activities.     
	</description>
    <author email="martin.doychev@abv.bg">
        Martin Doychev, Milos Darmanovic
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
