<div class="i-6">
<button class="myButton1">Create event</button>
</div>
<div class="i-6">
<button class="myButton2">Search for event</button>
</div>
<div class="i-12"><hr></div>
<div class="i-12">
</div>
<!--<div class="events"></div> -->
<div class="i-12">
<table align="center">
<tr>
      <th class="heading" COLSPAN="3">
         <h3>UPCOMING EVENTS</h3>
      </th>
</tr>
<tr>
<td class="date">Date and time</td><td>Name</td><td>Location</td>
</tr>
<tr>
<td class="date">Date and time</td><td>Name</td><td>Location</td>
</tr>
<tr>
<td class="date">Date and time</td><td>Name</td><td>Location</td>
</tr>
</table>
</div>
