<div class="i-7">
<br>
<h4 style="font: 400 15px/15px Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: bold">Filter your search</h4>
<input type="text" id="eventType" placeholder="Type of the event">
<input type="text" id="eventLocation" placeholder="Location of the event">
<button class="myButton2">Apply</button>
</div>
<div class="i-5">
<div class="img">
<figure>
  <img class="map" src="map.png" alt="Search by map" width="120" height="120">
  <figcaption>Search by map</figcaption>
</figure>
</div>
</div><div class="i-12"><hr></div>
<div class="i-12">
<table align="center" class="events">
<tr>
      <th class="heading" COLSPAN="3">
         <h3>EVENTS</h3>
      </th>
</tr>
</table>
</div>