{{#each this}}
<tr class="eventrow i-12">
<td class="date">{{time}}</td>
<td>{{name}}</td>
<td>{{location}}</td>
<!-- <td class="i-12"></td> -->
</tr>
{{/each}} 

<!--
<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-trash"></span>
      <div class="media-body">
        {{time}}
      </div>
	  <div class="media-body">
        {{name}}
      </div>
	  <div class="media-body">
        {{location}}
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-gear"></span>
      <div class="media-body">
        Item 2
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-pages"></span>
      <div class="media-body">
        Item 3
      </div>
    </a>
  </li>
</ul>-->