<div class="i-6">
<button class="myButton2">Filter button 1</button>
<button class="myButton2">Filter button 2</button>
<button class="myButton2">Filter button 3</button>
</div>
<div class="i-6">
<div class="img">
<figure>
  <img class="map" src="map.png" alt="Search by map" width="120" height="120">
  <figcaption>Search by map</figcaption>
</figure>
</div>
</div>
<div class="i-12"><hr></div>
<div class="i-12">
<table align="center">
<tr>
      <th class="heading" COLSPAN="3">
         <h3>EVENTS</h3>
      </th>
</tr>
<tr>
<td class="date">Date and time</td><td>Name</td><td>Location</td>
</tr>
<tr>
<td class="date">Date and time</td><td>Name</td><td>Location</td>
</tr>
<tr>
<td class="date">Date and time</td><td>Name</td><td>Location</td>
</tr>
</table>
</div>
<div class="events"></div>
