<div class="segmented-control">
  <a class="control-item" href="#item1mobile" id="info-contact-link">
    Contact us
  </a>
  <a class="control-item active" href="#item2mobile" id="info-faq-link">
    FAQ
  </a>
</div>

<div class="i-12"><hr></div>
<h1 class="createEvent">FAQ</h1>
<div class="i-12"><hr></div>

<div class="i-12">
<h3>Question 1</h3>
</div>
<div class="i-12">
<p>Answer Answer Answer Answer Answer</p>
</div>
<div class="i-12">
<h3>Question 1</h3>
</div>
<div class="i-12">
<p>Answer Answer Answer Answer Answer</p>
</div>
<div class="i-12">
<h3>Question 1</h3>
</div>
<div class="i-12">
<p>Answer Answer Answer Answer Answer</p>
</div>