<div class="segmented-control">
<a class="control-item active" href="#item1mobile" id="info-contact-link">
Contact us
</a>
<a class="control-item" href="#item2mobile" id="info-faq-link">
FAQ
</a>
</div>
<div class="i-12"><hr></div>
<h1 class="createEvent">Contact us</h1>
<div class="i-12"><hr></div>

<form id="contact-form"> 
        <!--<h3>Get in touch</h3>
        <h4>Fill in the form below, and we'll get back to you within 24 hours.</h4>-->
        <div>
                <label>
                        <span></span>
                        <input placeholder="Please enter your name*" name="first_name" id="ticketName" type="text" tabindex="1" required>
                </label>
        </div>
        <div>
                <label>
                        <span></span>
                        <input placeholder="Please enter your email address*" name="email" id="ticketEmail" type="email" tabindex="2" required>
                </label>
        </div>
        <!--<div>
                <label>
                        <span></span>
                        <input placeholder="Please enter your number*" type="tel" tabindex="3" required>
                </label>
        </div>
        <div>
                <label>
                        <span></span>
                        <input placeholder="Website* Begin with http://" type="url" tabindex="4" required>
                </label>
        </div>-->
        <div>
                <label>
                        <span></span>
                        <textarea placeholder="Include all the details you can*" name="comments" id="ticketComments" tabindex="5" required></textarea>
                </label>
        </div>
        <div id="submitTicket" class="btnCreate btn-positive">Send Ticket</div>
</form>

<div id="ticketSuccess" style="visibility: hidden">Your ticket was successfully submitted!</div>

<script src="js/contact.js"></script>