<!--<div class="i-12">info view</div>
<div class="i-12" id="info-faq-link">faqview</div>
<div class="i-12" id="info-contact-link">contactview</div>
<div class="i-6">
<button class="myButton1">Contact us</button>
</div>
<div class="i-6">
<button class="myButton2">FAQ</button>
</div>
<div class="i-12"><hr></div>
<div class="infoNav">aaa</div>
</div>-->
<div class="segmented-control">
  <a class="control-item active" href="#item1mobile" id="info-contact-link">
    Contact us
  </a>
  <a class="control-item" href="#item2mobile" id="info-faq-link">
    FAQ
  </a>
</div>
<div class="i-12"><hr></div>
<form>
<p class="table">Name:<br>
<input type="text" name="name"></input></p>
<p class="table">Email:<br>
<input type="email" name="name"></input></p>
<p class="table">Number:<br>
<input type="number" name="name"></input></p>
<p class="table">Message:<br>
<textarea name="textarea" rows="10"></textarea></p>
</form>
<div class="i-5">
<input type="Submit" value="Send"></input>
</div>
<div class="i-5">
<input type="reset" value="Cancel"></input>
</div>