<div class="login" id="loginInitial" class="i-9">
	<div class="i-12">
		<br>
		<br>
		<div style="text-align: center">
			<img src="img/loginlogo.png" align="middle" width="70%"></img>
		</div>
	</div>

	<div class="i-12">
		<br>
		<div style="text-align: center">
			<img src="img/buttons_07.png" align="middle" width="80%"></img>
		</div>
	</div>

	<div class="i-12">
		<div class="empty"></div>
	</div>

	<div class="i-12">
		<div id="logInButtons">
			<div class="i-6" >
				<img src="img/buttons_10.png" id="loginButton" align="right" width="80%" ></img>
			</div>
			
			<div class="i-6">
				<img src="img/buttons_11.png" id="signupButton" align="middle" width="80%"></img>
			</div>
		</div>
	</div>

	<div class="i-12">
		<div id="copyright">
			<img src="img/buttons_15.png" align="middle" width="100%"></img>
		</div>
	</div>
</div>


<div class="login" id="loginForm" style="display:none;">
	<div class="i-12">
		<div class="i-12">
		<br>
		<br>
		<div style="text-align: center">
			<img src="img/loginlogo.png" align="middle" width="70%"></img>
		</div>
	</div>

	<div class="i-12">
		<br>
		<div style="text-align: center">
			<img src="img/buttons_07.png" align="middle" width="80%"></img>
		</div>
	</div>

	<div class="i-12">
		<div class="empty"></div>
	</div>
	</div>
	
	<div class="i-12" style="text-align:center;">
	<input type="text"  name="user" value="Username"><br>
	<input type="password"  name="password" value="Password"><br>
	<input type="button" value="Login"></div>
	
	<div class="i-12">
		<div id="copyright">
			<img src="img/buttons_15.png" align="middle" width="100%"></img>
		</div>
	</div>
</div>

<div id="signupForm" style="display:none;">
	<div>signup form</div>
</div>