<div class="login" class="i-9">
<div class="i-12">
<br>
<br>
<div style="text-align: center">
<img src="login/logo.png" align="middle" width="70%"></img>
</div>
</div>

<div class="i-12">
<br>
<div style="text-align: center">
<img src="login/buttons_07.png" align="middle" width="80%"></img>
</div>
</div>

<div class="i-12">
<div class="empty"></div>
</div>

<div class="i-12">
<div id="logInButtons">
<div class="i-6" >
<img src="login/buttons_10.png" align="right" width="80%"></img>
</div>
<div class="i-6">
<img src="login/buttons_11.png" align="middle" width="80%"></img>
</div>
</div>
</div>

<div class="i-12">
<div id="copyright">
<img src="login/buttons_15.png" align="middle" width="100%"></img>
</div>
</div>
</div>