<div class="login" id="loginInitial" class="i-9">
	<div class="i-12">
		<br>
		<br>
		<div style="text-align: center">
			<img src="img/loginlogo.png" align="middle" width="70%"></img>
		</div>
	</div>

	<div class="i-12">
		<br>
		<div style="text-align: center">
			<img src="img/buttons_07.png" align="middle" width="80%"></img>
		</div>
	</div>

	<div class="i-12">
		<div class="empty"></div>
	</div>

	<div class="i-12">
		<div id="logInButtons">
			<div class="i-6" >
				<img src="img/buttons_10.png" id="loginButton" align="right" width="80%" ></img>
			</div>
			
			<div class="i-6">
				<img src="img/buttons_11.png" id="signupButton" align="middle" width="80%"></img>
			</div>
		</div>
	</div>

	<div class="i-12">
	<div class="copyright">
			<img src="img/buttons_15.png" align="middle" width="40%"></img>
	</div>
	</div>
</div>


<div class="login" id="loginForm" style="display:none;">
	<div class="i-12">
		<div class="i-12">
		<br>
		<br>
		<div style="text-align: center">
			<img src="img/loginlogo.png" align="middle" width="70%"></img>
		</div>
	</div>

	<div class="i-12">
		<br>
		<div style="text-align: center">
			<img src="img/buttons_07.png" align="middle" width="80%"></img>
		</div>
	</div>
	</div>
	
	<br>
	
	<div class="i-12" style="text-align:center;">
	<input type="text" id="username" name="user" placeholder="Username"><br>
	<input type="password"  id="password" name="password" placeholder="Password"><br>
	<input id="executeLoginButton" type="button" value="Login"></div>
	

	<div class="i-12">
	<div class="copyright">
			<img src="img/buttons_15.png" align="middle" width="40%"></img>
	</div>
	</div>
</div>

<div class="login" id="signupForm" style="display:none;">
<div class="i-12">
<form id="singup-form"> 
        <!--<h3>Get in touch</h3>
        <h4>Fill in the form below, and we'll get back to you within 24 hours.</h4>-->
        <div>
                <label>
                        <span></span>
                        <input placeholder="Name and surname*" name="first_name" id="ticketName" type="text" tabindex="1" required>
                </label>
        </div>
        <div>
                <label>
                        <span></span>
                        <input placeholder="Email address*" name="email" id="ticketEmail" type="email" tabindex="2" required>
                </label>
        </div>
        <div>
                <label>
                        <span></span>
                        <input placeholder="Place of birth" type="text" tabindex="3" required>
                </label>
        </div>
        <div>
                <label>
                        <span></span>
                        <input placeholder="Place of living" type="text" tabindex="4" required>
                </label>
        </div>
		<div>
                <label>
                        <span></span>
                        <input placeholder="Mobile phone" type="tel" tabindex="5" required>
                </label>
        </div>
        <div>
                <label>
                        <span></span>
                        <textarea placeholder="I am interested in..." name="comments" id="ticketComments" tabindex="6" required></textarea>
                </label>
        </div>
        <div id="submitTicket" class="btnContact btn-positive">Sing up</div>
</form>
</div>
<div class="i-12">
	<div class="copyright">
			<img src="img/buttons_15.png" align="middle" width="40%"></img>
	</div>
	</div>
</div>