<div class="segmented-control">
<a class="control-item active" href="" id="profile-view">
Profile
</a>
<a class="control-item" href="" id="message-view">
Message
</a>
</div>

<br>
<br>

<div class="i-12"> 
<div class="profile">
<div class="profile-cover"></div>
</div>
</div>

<div class="i-12">
<ul class="table-view">
  <li class="table-view-cell">Name and surname: </li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell table-view-cell">Date of birth:</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Place of birth:</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Place of living:</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Mobile phone:</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Interested in:</li>
</ul>
</div>