<div class="segmented-control">
<a class="control-item active" id="profile-view">
Profile
</a>
<a class="control-item" id="message-view">
Message
</a>
</div>

<br>
<br>

<div class="i-12"> 
<div class="profile">
<div class="profile-cover"></div>
</div>
</div>

<div class="i-12">
<ul class="table-view">
  <li class="table-view-cell">Name and surname: <span id="name" class="profileInfo"></span></li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell table-view-cell">Date of birth: <span id="dateBirth" class="profileInfo"></span></li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Place of birth: <span id="placeBirth" class="profileInfo"></span></li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Place of living: <span id="placeLiving" class="profileInfo"></span></li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Mobile phone: <span id="mobile" class="profileInfo"></span></li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Interested in: <span id="interests" class="profileInfo"></span></li>
</ul>
</div>