<!--show event details
{{id}}-->

<img src="images/join.png" alt="join event"/>

<br>
 
<ul class="table-view">
  <li class="table-view-cell">Name: {{name}}</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell table-view-cell">Time: {{time}}</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Location: {{location}}</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">Type: {{type}}</li>
	<li class="table-view-divider"></li>
  <li class="table-view-cell">People count: {{peopleCount}}</li>
	<li class="table-view-divider"></li>
</ul>

<div class="i-12">
<div id="logInButtons">
<div class="i-6"><button class="events" type="submit" style="float: right;">Attend</button></div>
<div class="i-6"><button class="events" type="cancel" style="background: #A12460;">Cancel</button></div>
</div>
</div>

